<header>
	<div class="navbar container">
		<h1>GYM SHARK</h1>
		<ul>
			<a routerLink="/"><li>HOME</li></a>
			<a routerLink="/table"><li>SCHEDULE</li></a>
			<a href="#"><li>GALLERY</li></a>
		</ul>
	</div>
</header>
<div>
	<router-outlet></router-outlet>
</div>
<footer>
	<div class="contact">
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.0505461183366!2d76.94330281535186!3d43.229399879138136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836f1ef0fe3d57%3A0xe470e364ed718086!2z0J3Rg9GA0LvRiyDQotCw0YMgLSAxLCDQv9GA0L7RgdC_0LXQutGCIEHQu9GMLdCk0LDRgNCw0LHQuCwg0JDQu9C80LDRgtGLIDA1MDAwMA!5e0!3m2!1sru!2skz!4v1602615932790!5m2!1sru!2skz" width="800" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
		<div class="contact-text">
			<form class="box" method="post">
				<h1>CONTACT US</h1>
				<input type="text" name="" placeholder="Your name">
				<input type="text" name="" placeholder="Your phone number">
				<input type="submit" name="" value="CONTACT">
			</form>
		</div>
	</div>
</footer>
