<div class="tables">
	<h1>CLASSTIME TABLE</h1>
	<div class="table">
		<div>
			<div class="as"></div>
			<div class="as">10.00</div>
			<div class="as">14.00</div>
			<div class="as">16.00</div>
			<div class="as">18.00</div>
			<div class="as">20.00</div>
		</div>
		<div>
			<div class="as">MONDAY</div>
			<div class="as">	
				10.00 - 14.00
				CROSSFIT LV1
			</div>
			<div class="as"></div>
			<div class="as"></div>
			<div class="as">18.00 - 20.00
WALLS TO KNEES</div>
			<div class="as"></div>
		</div>
		<div>
			<div class="as">TUESDAY</div>
			<div class="as"></div>
			<div class="as">
				14.00 - 17.00
				LUNGE BALL BUR
			</div>
			<div class="as"></div>
			<div class="as"></div>
			<div class="as">20.00 - 22.00
WALLS TO KNEES</div>
		</div>
		<div>
			<div class="as">WEDNESDAY</div>
			<div class="as"></div>
			<div class="as"></div>
			<div class="as">16.00 - 19.00
CANDY</div>
			<div class="as"></div>
			<div class="as"></div>
		</div>
		<div>
			<div class="as">THURSDAY</div>
			<div class="as"></div>
			<div class="as">
				14.00 - 17.00
				CROSSFIT LV1
			</div>
			<div class="as"></div>
			<div class="as"></div>
			<div class="as"></div>
		</div>
		<div>
			<div class="as">FRIDAY</div>
			<div class="as">
				10.00 - 13.00
				LUNGE BALL BUR
			</div>
			<div class="as"></div>
			<div class="as"></div>
			<div class="as"></div>
			<div class="as">22.00 - 23.00
CROSSFIT LV2</div>
		</div>
		<div>
			<div class="as">SATURDAY</div>
			<div class="as"></div>
			<div class="as">
				14.00 - 15.30
WALLS TO KNEES
			</div>
			<div class="as"></div>
			<div class="as">16.00 - 20.00
MURPH</div>
			<div class="as"></div>
		</div>
			<div>
			<div class="as">SUNDAY</div>
			<div class="as">
				10.00 - 13.30
				LUNGE BALL BUR
			</div>
			<div class="as"></div>
			<div class="as"></div>
			<div class="as">16.00 - 17.00
PPSR</div>
			<div class="as"></div>
		</div>
	</div>
	<p>Сегодня {{ myDate | date}}</p>
</div>


