
<div  class="classes row">
	<div class="class1 col">
		<h1>Classic gym</h1>
		<button (click)="isShown = !isShown">Read More</button>
	</div>
	<div class="class2 col">
		<h1>Crossfit</h1>
		<button (click)="isShown = !isShown">Read More</button>
	</div>
	<div class="class3 col">
		<h1>Martial arts</h1>
		<button (click)="isShown = !isShown">Read More</button>
	</div>
</div>

<div *ngIf ="isShown" class="cross" >
		<div class="pop">
			<div class="text">
				<h1>Welcome to Crossfit</h1>
				<br>
				<p>CrossFit is a cutting-edge functional fitness system that can help everyday men.
				Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! For those of you who are serious about having more, doing more, giving more and being more</p>
				<br>
				<p>Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! For those of you who are serious about having more, doing more, giving more and being more</p>
				<br>
				<p>CrossFit is a cutting-edge functional fitness system that can help everyday men.
				Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! For those of you who are serious about having more, doing more, giving more and being more</p>
				<p>CrossFit is a cutting-edge functional fitness system that can help everyday men.
				Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard! For those of you who are serious about having more, doing more, giving more and being more</p>
				<br>
				<p>CrossFit is a cutting-edge functional fitness system that can help everyday men.
				Success isn’t really that difficult. There is a significant portion of the population here in North America, that actually want and need success to be hard!</p>
			</div>
			<div class="">
				<img src="/assets/img/home-about.jpg">
			</div>

		</div>
</div>

